@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-white antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold tracking-tight;
  }
}
